alertmanager:
  enabled: false

grafana:
  nodeSelector:
    nodetype: hfmaster

coreDns:
  enabled: false

prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false

  nodeSelector:
    nodetype: hfmaster

prometheus:
  prometheusSpec:
    nodeSelector:
      nodetype: hfmaster

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
