alertmanager:
  enabled: false

grafana:
  nodeSelector:
    nodetype: hfmaster

prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false

  nodeSelector:
    nodetype: hfmaster

prometheus:
  prometheusSpec:
    nodeSelector:
      nodetype: hfmaster
